In [34]:
import pandas as pd
from datetime import datetime

In [35]:
# Ouverture du CSV
df = pd.read_csv("data/ecommerce.csv")

In [36]:
# Observation des colonnes disponibles
pd.set_option('display.max_columns', 500)
df.head()

,Date,ProductName,ProductCategory,ProductSubCategory,ProductPrice,CustomerName,CustomerEmail,CustomerAddress,CustomerPhone,CustomerSegment,SupplierName,SupplierLocation,SupplierContact,ShipperName,ShippingMethod,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
0,2023-09-14,Nathaniel,Electronics,Camera,0.01,Colleen Kelly,maryhurst@example.org,"354 Mcdowell Turnpike, Port Charles, CT 95318",908.610.2711x8507,Silver,"Rodriguez, Winters and Perez",Irwinhaven,6538306661,and Sons,Ground,49,31965.15,121.07,31844.08,475,127,348
1,2023-02-11,NonExistentProduct,Electronics,Mobile,847.43,Joel Wright,sandersvictoria@example.org,"24740 Fox Villages, New Tracie, MA 53038",+1-408-938-0389x952,Gold,Lawson-Wilkins,Calderonchester,NaN,PLC,Air,73,61862.39,91.09,61771.30,487,243,244
2,2021-11-12,Angela,InvalidCategory,Action Figures,386.57,Thomas Sawyer,ospence@example.net,"769 Joe Trail, East Terri, CA 43813",001-929-516-1919x39288,Gold,Lee-Miller,South Emilyview,+1-588-750-7646,PLC,Sea,89,34404.73,10.56,34394.17,341,188,153
3,11-15-2021,Amy,Home & Garden,Decor,364.01,Tyler Gardner,christopherjohnson@example.com,"27783 Olivia Centers, Williamsmouth, AL 09809",8907712983,Gold,Soto-Rivera,West Denise,805-650-6257x5876,LLC,Air,3,1092.03,69.06,1022.97,500,124,376
4,2023-04-22,Nathaniel,Electronics,Camera,652.35,Meagan Peterson,epowell@example.net,"25357 Blackwell Locks, Andreabury, MH 27857",9999921886,Gold,"Rodriguez, Winters and Perez",Irwinhaven,6538306661,Ltd,Sea,75,48926.25,137.17,48789.08,429,351,78

In [37]:
# Création des ID
def create_id(columns_name, columns_factoriz, df):
    df[columns_name] = pd.factorize(df[columns_factoriz])[0]+1
    
create_id("ProductID", "ProductName", df)
create_id("SupplierID", "SupplierName", df)
create_id("ShipperID", "ShipperName", df)
create_id("CustomerID", "CustomerName", df)
create_id("DateID", "Date", df)

In [38]:
# Créationd d'un ID unqiue par vente et stock
df['id'] = range(1, len(df) + 1)

In [39]:
# Création des tables de faits et de dimensions
fact_sales = df[['id' , 'QuantitySold', 'TotalAmount', 'DiscountAmount', 'NetAmount', 'ShipperID', 'SupplierID', 'ProductID', 'CustomerID', 'DateID']]
fact_stock = df[['id', 'StockReceived', 'StockSold', 'StockOnHand', 'ProductID', 'DateID']]
dim_supplier = df[["SupplierID", 'SupplierName', 'SupplierLocation', 'SupplierContact']]
dim_shipper = df[["ShipperID", 'ShipperName', 'ShippingMethod']]
dim_product = df[["ProductID", 'ProductName', 'ProductCategory', 'ProductSubCategory', 'ProductPrice']]
dim_customer = df[["CustomerID", 'CustomerName', 'CustomerEmail', 'CustomerAddress', 'CustomerPhone', 'CustomerSegment']]
dim_date = df[["DateID",'Date']]

In [40]:
def convertir_date(date_str):
    # Liste des formats possibles
    formats = ["%m-%d-%Y", "%Y-%m-%d", "%d-%m-%Y"]
    
    for fmt in formats:
        try:
            return datetime.strptime(date_str, fmt)
        except ValueError:
            continue
    return None  # Retourne None si aucun format ne correspond

# Appliquer la fonction à la colonne
dim_date['date_normalisee'] = dim_date['Date'].apply(lambda x: convertir_date(x))

/tmp/ipykernel_74316/1486148919.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_date['date_normalisee'] = dim_date['Date'].apply(lambda x: convertir_date(x))

In [41]:
dim_date =dim_date.drop('Date', axis=1)
dim_date.rename({"date_normalisee": "Date"}, axis=1)

# Extraire année, mois et jour pour chaque date normalisée
dim_date['Annee'] = dim_date['date_normalisee'].apply(lambda x: x.year if x is not None else None)
dim_date['Mois'] = dim_date['date_normalisee'].apply(lambda x: x.month if x is not None else None)
dim_date['Jour'] = dim_date['date_normalisee'].apply(lambda x: x.day if x is not None else None)

dim_date.head()

   DateID date_normalisee  Annee  Mois  Jour
0       1      2023-09-14   2023     9    14
1       2      2023-02-11   2023     2    11
2       3      2021-11-12   2021    11    12
3       4      2021-11-15   2021    11    15
4       5      2023-04-22   2023     4    22

In [42]:
# # Création des table en base de données 
# table_fact_sales = '''
#     CREATE TABLE IF NOT EXIST fact_vente
#         VenteID INT, 
#         QuantitySold INT, 
#         TotalAmount FLOAT, 
#         DiscountAmount FLOAT, 
#         NetAmount FLOAT, 
#         ShipperID INT, 
#         SupplierID INT, 
#         ProductID INT, 
#         CustomerID INT, 
#         DateID INT 
# '''

# table_fact_stock = '''
#     CREATE TABLE IF NOT EXIST fact_stock
#         StockID INT, 
#         StockReceived INT, 
#         StockSold INT, 
#         StockOnHand INT, 
#         ProductID INT, 
#         DateID INT
# '''

# table_dim_supplier = '''
#     CREATE TABLE IF NOT EXIST dim_supplier
#         SupplierID INT, 
#         SupplierName VARCHAR(255), 
#         SupplierLocation VARCHAR(255), 
#         SupplierContact VARCHAR(255)
# '''

# table_dim_shipper = '''
#     CREATE TABLE IF NOT EXIST dim_shipper
#         ShipperID INT, 
#         ShipperName VARCHAR(255), 
#         ShippingMethod VARCHAR(255), 
# '''

# table_dim_product = '''
#     CREATE TABLE IF NOT EXIST dim_product
#         ProductID INT, 
#         ProductName VARCHAR(255), 
#         ProductCategory VARCHAR(255), 
#         ProductSubCategory VARCHAR(255), 
#         ProductPrice FLOAT
# '''

In [47]:
import pandas as pd
from sqlalchemy import create_engine, Integer, String, Float

dim_supplier = df[['SupplierID', 'SupplierName', 'SupplierLocation', 'SupplierContact']].drop_duplicates()
dim_supplier_columns = {
    "SupplierID": Integer(),
    "SupplierName": String(255),
    "SupplierLocation": String(255),
    "SupplierContact": String(255)
}


dim_shipper = df[['ShipperID', 'ShipperName', 'ShippingMethod']].drop_duplicates()
dim_shipper_columns = {
    "ShippingID": Integer(),
    "ShippingName": String(255),
    "ShippingMethod": String(255)
}


dim_product = df[['ProductID', 'ProductName', 'ProductCategory', 'ProductSubCategory', 'ProductPrice']].drop_duplicates()
dim_product_columns = {
    "ProductID": Integer(),
    "ProductName": String(255),
    "ProductCategory": String(255),
    "ProductSubCategory": String(255),
    "ProductPrice": String(255)
}


dim_customer = df[['CustomerID', 'CustomerName', 'CustomerEmail', 'CustomerAddress', 'CustomerPhone', 'CustomerSegment']].drop_duplicates()
dim_customer_columns = {
    "CustomerID": Integer(),
    "CustomerName": String(255),
    "CustomerEmail": String(255),
    "CustomerAddress": String(255),
    "CustomerPhone": String(255),
    "CustomerSegment": String(255)
}


dim_date_columns = {
    "DateID": Integer(),
    "Annee": Integer(),
    "Mois": Integer(),
    "Jour": Integer()
}


fact_sales_columns = {
    "VenteID": Integer(),
    "SupplierID": Integer(),
    "ShippingID": Integer(),
    "ProductID": Integer(),
    "CustomerID": Integer(),
    "DateID": Integer(),
    "QuantitySold": Integer(),
    "TotalAmount": Float(),
    "DiscountAmount": Float(),
    "NetAmount": Float()
}

fact_stock_columns = {
    "StockID": Integer(),
    "ProductID": Integer(),
    "DateID": Integer(),
    "StockReceived": Integer(),
    "StockSold": Integer(),
    "StockOnHand": Integer()
}


engine = create_engine('mysql+pymysql://root:password@127.0.0.1:3306/dwh_sales')


dim_supplier.to_sql('Supplier', engine, if_exists='replace', index=False, dtype=dim_supplier_columns)
dim_shipper.to_sql('Shipping', engine, if_exists='replace', index=False, dtype=dim_shipper_columns)
dim_product.to_sql('Product', engine, if_exists='replace', index=False, dtype=dim_product_columns)
dim_customer.to_sql('Customer', engine, if_exists='replace', index=False, dtype=dim_customer_columns)
dim_date.to_sql('Date', engine, if_exists='replace', index=False, dtype=dim_date_columns)
fact_sales.to_sql('FaitVentes', engine, if_exists='replace', index=False, dtype=fact_sales_columns)
fact_stock.to_sql('FaitStock', engine, if_exists='replace', index=False, dtype=fact_stock_columns)

5010